@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Krona+One&family=Montserrat+Alternates:wght@100&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-principal: #FFFFFF;
    --cor-secundaria: #C0C0C0;
    --cor-botao-primaria: #167DF7;
    --cor-fundo: #00030C;
    --fonte-principal: 'Inter';
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
    color: var(--cor-principal);
}

.conteudo {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}

.conteudo--principal {
    background-image: url("./assets/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
}

.conteudo__caixa {
    margin: 0 6rem;
}

.conteudo__titulo{
    font-size: 1.75rem;
    font-weight: 700;
}

.conteudo__imagem {
    margin: 1rem 0 2rem 0;
}

.conteudo__botao {
    background-color: var(--cor-botao-primaria);
    color: var(--cor-principal);
    text-decoration: none;
    border-radius: 5px;
    padding: 1rem;
    display: block;
    margin-bottom: 1rem;
}

.botao--secundario {
    background-color: transparent;
    color: var(--cor-principal);
    border: 2px solid var(--cor-principal);
}

.conteudo__aviso {
    font-size: 0.75rem;
    color: var(--cor-secundaria);
}

.conteudo--secundario {
    align-items: center;
    margin: 0 10rem;
}

.secundario__descricao {
    padding: 2rem;
}

.secundario__descricao__titulo {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 0.1rem;
}

.secundario__descricao__texto {
    color: var(--cor-secundaria);
}

.secundario__imagem {
    width: 80%;
}

.secundario__botao{
    display: inline-block;
    margin-top: 1rem;

}

.dispositivos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dispositivos__titulo{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--cor-principal);
}

.dispositivos__lista {
    display: flex;
    margin-bottom: 2rem;
    list-style-type: none;
}

.dispositivos__lista__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape {
    text-align: center;
    margin: 5rem 5rem 1rem 5rem;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 2rem;
}

.rodape__lista__link a{
    text-decoration: none;
    color: var(--cor-principal);
    margin-left: 1rem;
}

.rodape__texto{
    margin-top: 1rem;
    font-size: 0.72rem;
    color: var(--cor-secundaria);
}

@media screen and (max-width: 758px){
    .conteudo {
        display: block;
        background-image: none;
    }
    
    .conteudo__imagem {
        width: 50vw;
    }

    .conteudo__caixa {
        margin: 2rem 2rem;
    }

    .conteudo--secundario{
        margin: 0;
        text-align: center;
    }

    .secundario__imagem {
        width: 50vw;
    }

    .dispositivos__titulo{
        text-align: center;
    }

    .dispositivos__lista {
        display: block;
    }

    .rodape__lista {
        display: block;
    }


}
